{% extends 'base.html.twig' %}

{% block title %}Hello UserPageController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Your profile</h1>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-home" aria-selected="true">Your info</a>
            <a class="nav-link" id="nav-borrow-tab" data-toggle="tab" href="#nav-borrow" role="tab" aria-controls="nav-profile" aria-selected="false">Your Borrowings</a>
            <a class="nav-link" id="nav-penalty-tab" data-toggle="tab" href="#nav-penalty" role="tab" aria-controls="nav-home" aria-selected="true">Your Penalties</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-home-tab">

        </div>
        <div class="tab-pane fade" id="nav-borrow" role="tabpanel" aria-labelledby="nav-profile-tab">
            <table>
                <thead>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="nav-penalty" role="tabpanel" aria-labelledby="nav-profile-tab">
        </div>
    </div>
</div>
{% endblock %}
