$primaryColor : rgb(48, 178, 253);
$lightPrimary : rgb(148, 198, 226);
$darkPrimary : rgb(18, 102, 151);
$secondaryColor: rgb(240, 226, 148);
$lightGrey: rgb(238, 238, 238);
$grey:rgb(127,127,127);
$darkGrey:rgb(40,40,40);
$title:rgb(52, 107, 179);
$lowerTitle:rgb(109, 158, 221);
$fakeImages:rgb(83, 83, 83);
$shadow:rgb(80, 80, 80);